.header-wraper {
    justify-content: space-between;

    .header-left {
        .logo {
            h2 {
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
    }

    .header-rigth {
        .user-detail {
            display: flex;
            align-items: center;
            h2 {
                font-size: 18px;
                line-height: 26px;
                letter-spacing: 1px;
                color: #fff;
                margin-bottom: 0;
            }
        }
    }
}
