<header>
    <div class="header-wraper">
        <div class="header-left">
            <div class="logo">
                <h2>Online Ticket Booking</h2>
            </div>
        </div>
        <div class="header-rigth">
            <div class="user-detail">
                <div class="voice-assistant me-3">
                    <app-voice-assistant></app-voice-assistant>
                </div>
                <h2>Hi, {{userName}}</h2>
            </div>
        </div>
    </div>
</header>