<div class="event-wraper">
    <div class="title-wraper">
        <div class="page-title">
            <h2>Events</h2>
        </div>
        <div class="add-btn">
            @if(adminRole){
            <button type="button" class="btn btn-primary" (click)="addEventPage()">Add New Event</button>
            }
        </div>
    </div>

    <div class="page-search">
        <select class="form-control" (change)="onDateChange($event)">
            <option value="today">Select Date</option>
            <option *ngFor="let date of eventDates" [value]="date">
                {{ date | date: 'dd/MM/yyyy' }}
            </option>
        </select>
    </div>

    <div class="page-scroll">
        <full-calendar #fullCalendar [options]="calendarOptions()" class="custom-calendar"></full-calendar>
    </div>


    <ng-template #eventDetailsModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Event Details</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div *ngIf="selectedEvent">
                <div class="form-group mb-3">
                    <label class="form-label">Event Name</label>
                    <input type="text" class="form-control" value="{{selectedEvent.title}}" disabled />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Event Type</label>
                    <input type="text" class="form-control" value="{{selectedEvent.description}}" disabled />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Start</label>
                    <input type="text" class="form-control" value="{{selectedEvent.start | date: 'medium'}}" disabled />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">End</label>
                    <input type="text" class="form-control" value="{{selectedEvent.end | date: 'medium'}}" disabled />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @if(adminRole){
            <button class="btn btn-danger" (click)="openModal(content, selectedEvent.id)">Delete</button>
            <button class="btn btn-info" (click)="editEventPage(selectedEvent.id)">Edit</button>
            }
            <button class="btn btn-primary" (click)="bookingPage()">Book Seat</button>
        </div>
    </ng-template>


    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Event delete</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this event? This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteEvent()">Delete</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cancel</button>
        </div>
    </ng-template>

</div>